body {
  margin: 0;

  background-color: #0b0f23;
}

.container {
  text-align: center;
  max-width: 1350px;
  margin: auto;
  color: #ffffff;
}

.title {
  display: flex;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
}
.list {
  display: flex;
  list-style-type: none;
}

.column {
  -ms-flex: 33%;
  flex: 33%;
}

img {
  height: auto;
  width: auto;
  max-width: 80%;
}

.column img:hover {
  opacity: 0.5;
  transform: scale(1.2);
}
.column img {
  transition: all 0.5s linear;
}
a {
  text-decoration: none;
}
.pics {
  overflow: hidden;
}
/* details */
.row {
  display: flex;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}
.col {
  -ms-flex: 100%;
  flex: 100%;
}
.col img {
  max-width: 100%;
}
p.des {
  font-size: 40px;
  font-size: 20px;
  padding-right: 200px;
}

a.btn {
  border-style: solid;
  border-spacing: 15px 50px;
  padding: 6px 18px;
  background-color: aquamarine;
  color: blue;
}
