* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: -10px;
  margin-left: -5px;
  margin-right: -5px;
}

[class*="col-"] {
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.col-1 {
  width: 8.333333%;
  position: relative;
  display: inline-block;
}

.col-2 {
  width: 16.6666%;
  position: relative;
  display: inline-block;
}

.col-3 {
  width: 25%;
  position: relative;
  display: inline-block;
}

.col-3-1 {
  margin-left: -3px;
  width: 25%;
  position: relative;
  display: inline-block;
}

.col-4-2 {
  width: 33.333333%;
  display: flex;
  flex-direction: row-reverse;
}
.col-4 {
  width: 33.333333%;
  display: flex;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
  position: relative;
  display: inline-block;
}

.col-9 {
  width: 75%;
  position: relative;
  display: inline-block;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

section {
  margin-bottom: 60px;
}

.anime-slidee {
  margin-top: -60px;
}
.section-header {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.description {
  background: transparent;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
  color: #eee;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  z-index: 1;
  height: 76px;
  padding: 20px 15px 25px;
}

.thumb-slide img {
  padding-bottom: 5px;
}

.thumb-slide {
  transition: all 0.2s linear;
}
.thumb-slides:hover .thumb-slide {
  opacity: 0.5;
}

.play-button1 {
  position: absolute;
  display: none;
  top: 10;
  width: 60px;
  margin: 0 auto;
  left: 10px;
  z-index: 100;
}
.description-title {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description-views {
  padding-top: 5px;
  font-size: 16px;
}

.cartoon {
  border-radius: 30px 30px 10px 10px;
  overflow: hidden;
}
.cartoon img {
  border-radius: 30px 30px 10px 10px;
}

.cartoon:hover .play-button {
  display: block;
}

.newest:hover .play-button {
  display: block;
}

.anime-slides {
  margin: 0;
}
.play-button {
  position: absolute;
  display: none;
  top: 10;
  width: 60px;
  margin: 0 auto;
  left: 10px;
  z-index: 100;
}

.manga:hover img {
  opacity: 0.5;
}

.thumb-slide {
  transition: all 0.2s linear;
}
.thumb-slides:hover .thumb-slide {
  opacity: 0.5;
}

.thumbnail {
  overflow: hidden;
}

.thumb {
  transition: all 0.2s linear;
}

.thumb:hover {
  transform: scale(1.2);
}

.update {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  left: 75px;
  top: 10px;
  overflow: hidden;
  position: absolute;
  display: none;
  right: 10px;
}
.today:hover .update {
  display: block;
}

.today:hover .play-button {
  display: block;
}
.play-button {
  position: absolute;
  display: none;
  top: 10;
  width: 60px;
  margin: 0 auto;
  left: 10px;
  z-index: 100;
}

.rank-item {
  background: none;
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: 10;
  text-align: right;
  top: 0;
}
.rank-top {
  background: none;
  border-radius: 100%;
  bottom: 5px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  height: auto;
  line-height: 40px;
  position: absolute;
  right: 5px;
  text-align: right;
  top: auto;
  width: auto;
}

.upcoming {
  font-size: 12px;
  height: 60px;
  left: 10px;
  padding-top: 14px;
  top: 10px;
  width: 60px;
  background: rgba(216, 15, 22, 0.6);
  border-radius: 100%;
  color: #eee;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  text-align: center;
}

.col-4-2 img {
  width: 10%;
  padding-right: 10px;
  padding-bottom: 10px;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: end;
}

.j-between {
  justify-content: space-between;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: end;
}

.as-end {
  align-self: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.movie-meta {
  display: flex;
  justify-content: space-between;
}

/* Classes Utilities */
.d-flex {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
}

.header {
  border-bottom: 1px solid rgb(172, 164, 164);
  padding-top: 10px;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.logo-box {
  max-width: 150px;
  margin-right: 50px;
}

.menu {
  list-style: none;
  margin-right: 50px;
}

.menu-link {
  display: block;
  color: black;
  padding: 4px 10px;
  text-decoration: none;
  border: 1px solid rgb(172, 164, 164);
  border-radius: 25px;
}

.btn-actions {
  margin-left: auto;
}

.menu-item {
  padding-bottom: 10px;
  margin-right: 10px;
  border-bottom: 0;
}

.menu-item:hover {
  border: 1px solid rgb(172, 164, 164);
  border-bottom: 0;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.menu-item:hover .menu-link {
  border: 0;
}

.input-search {
  width: 300px;
  padding: 5px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgb(172, 164, 164);
}

.btn-search {
  right: 8px;
  top: 7px;
  border: 0;
  background-color: transparent;
}

.sub-menu {
  left: 0;
  right: 0;
  width: 100%;
  top: 100%;
  background-color: white;
  border-top: 1px solid rgb(207, 201, 201);
  border-bottom: 1px solid rgb(172, 164, 164);
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-item:hover .sub-menu {
  display: block;
}

.anime-news {
  margin-top: 75px;
}

.btn-actions a {
  width: 100px;
}

.thumbnail1 {
  overflow: hidden;
}

.thumb1 {
  transition: all 0.2s linear;
}

.sub-menu-item:hover .thumb1 {
  transform: scale(1.2);
}

.description-title1 {
  padding-bottom: 10px;
  font-size: 15px;
}

.sub-menu-item:hover .description-title1 {
  color: red;
}

.description1 {
  background: transparent;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
  color: #eee;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  z-index: 1;
  height: 50px;
  padding: 40px 10px 22px;
}

.btn-actions i {
  display: inline-block;
  font-size: 2em;
  padding: 1px;
}

@media screen and (max-width: 600px) {
  .logo-box {
    display: none;
  }
  nav {
    float: right;
    display: block;
  }
}

@media (min-width: 400px) and (max-width: 1050px) {
  .col-9 {
    width: 100%;
  }
  .col-3.slide {
    width: 0%;
  }
}

@media (max-width: 1023px) {
  .col-2 {
    padding-left: 10px;
  }
}
@media (min-width: 550px) and (max-width: 767px) {
  .col-2 {
    width: 33.33333%;
  }
}

@media (max-width: 549px) {
  .col-2 {
    width: 50%;
  }
}

@media (min-width: 549px) and (max-width: 767px) {
  .container {
    width: 535px;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  .col-3 {
    width: 50%;
  }
}

@media screen and (max-width: 1180px) {
  .menu-item {
    display: none;
  }
  .btn-actions {
    float: left;
    display: block;
  }
  .search-box {
    display: none;
  }
  .logo-box {
    float: right;
    display: block;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
.topnav {
  position: relative;
}
.sub-menu1 {
  position: absolute;
  left: -350;
  top: 0;
  display: block;
  background-color: red;
  height: 100vh;
}

.topnav .icon {
  padding-right: 40px;
  padding-top: 15px;
  display: none;
}
