* {
  padding: 0;
}
.title {
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
}

.row {
  display: flex;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.column {
  -ms-flex: 33%;
  flex: 33%;
}

.product-name {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.column {
  text-align: center;
}

img {
  width: 50%;
  border-radius: 1%;
}

img:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 33);
}
