.title {
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
}

.row {
  display: flex;
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.column {
  -ms-flex: 33%;
  flex: 33%;
}

.first.column {
  padding-left: 100px;
}
.product-name {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

/*Product page*/
.row2 {
  display: flex;
  text-decoration: none;
}
.col2 {
  -ms-flex: 33%;
  flex: 33%;
}

p.des1 {
  font-size: 40px;
}

p.des2 {
  font-size: 30px;
}

p.des3 {
  font-size: 20px;
  padding-right: 200px;
}

a.btn {
  border-style: solid;
  border-spacing: 15px 50px;
  padding: 6px 18px;
  background-color: aquamarine;
  color: blue;
}
